<%- include ('../partials/header.ejs') -%>

  <h1>Nova Pessoa</h1>
  <p><a href="/people">Voltar</a></p>
  <form method="POST">
    <div class="row">
      <div class="col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome">
      </div>
      <div class="col-md-3">
        <label for="name">Data Nascimento</label>
        <input type="date" class="form-control" id="birthDate" name="birthDate">
      </div><div class="col-md-6">
        <label for="name">Cargo</label>
        <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Digite seu cargo">
      </div>
      <div class="col-md-12">
        <br>
        <button type="submit" class="btn btn-default">Salvar</button>
      </div>
    </div>
  </form>

<%- include ('../partials/footer.ejs') -%>